#question {
  width: 1000px;
  min-height: 500px;
  border: 1px solid #ECECEC;
  box-shadow: 0 0 4px 4px #ECECEC;
  margin: 50px auto;

  .banner-left {
    width: 20%;
    flex-shrink: 0;
    border-right: 1px solid #ECECEC;
    background-color: #282c34bd;
    .header {
      h1 {
        color: red;
      }

      .title-header {
        background-color: #282c34;
        color: #ffffff;
        padding: 20px 8px;
      }
    }
    .list-select{
margin-top: 30px;
      height: 100%;
      ul{
        padding-left: 0;
        li{
          list-style-type: none;
          font-size: 24px;
          padding-left: 20px;
          a{
            color: #ffffff;
            text-decoration: none;

          }
          &:hover{
            background-color: #272b6a;
          }
        }
      }
    }
  }

  .banner-right {
    width: 80%;
    padding: 30px 20px;
  }
}